<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="apprenda-logger" type="Apprenda.Services.Logging.Config.ApprendaLoggerCustomSection, Apprenda.Logging, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <system.web>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="BookCave.Service.App.BookService" behaviorConfiguration="BookCave.BookBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:40000" />
          </baseAddresses>
        </host>
        <!--Apprenda Local Configuration-->
        <endpoint address="../Book.svc" binding="webHttpBinding" behaviorConfiguration="webBehaviour" contract="BookCave.IBook" />
        <!--End Apprenda Local Configuration-->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BookCave.BookBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webBehaviour">
          <webHttp helpEnabled="true" defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <extensions>
      <!-- This is the behavior extension that installs the behavior for SaaSGrid Contexts -->
      <behaviorExtensions>
        <add name="ContextBehavior" type="Apprenda.SaaSGrid.API.Local.ContextServiceBehaviorExtension, SaaSGrid.API.Local, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <!--SaasGrid Local Configuration-->
  <connectionStrings><add name="BookcaveEntities" connectionString="metadata=res://*/BookcaveModel.csdl|res://*/BookcaveModel.ssdl|res://*/BookcaveModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TILISKA;initial catalog=bookcave;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <!--End SaasGrid Local Configuration-->
  <!--SaasGrid Live Configuration
  <connectionStrings>
   <add name="BookcaveEntities" connectionString="metadata=res://*/Model.BookcaveModel.csdl|res://*/Model.BookcaveModel.ssdl|res://*/Model.BookcaveModel.msl;provider=SaaSGrid.Data.SqlClient;provider connection string=&quot;Server=Nothing&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  End SaaSGrid Live Configuration-->
  <apprenda-logger default="nLogger">
    <logger name="nLogger" manager="Apprenda.Services.Logging.Impl.NLog.NLogLogManager" assembly="Apprenda.Logging.NLog"></logger>
  </apprenda-logger>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="eventlog" xsi:type="EventLog" layout="${date} ${logger} ${message}" source="Apprenda Logger Example" log="Application" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="eventlog" />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>